.mainBox {
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(231, 121, 121);
}

#foot {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  background-color: rgb(219, 112, 112);
}
